@import './Variables.scss';

.card {
  border: $dark-grey-border;
  border-radius: 5px;
}

.card-content-container {
  display: flex;
  margin: 0 5px;
}

.card-subtitle {
  flex: 25%;
  text-align: center;
  margin-top: 5px;
  font-size: 15px;
  color: $subheader-grey;
}

.card-content {
  flex: 75%;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 10px;
  display: flex;
  justify-content: space-between;
}

.expand-card {
  display: flex;
  justify-content: center;
  align-items: center;
}

.expand-card:hover {
  cursor: pointer;
}
