$excellent: #1a7800;
$good: #58a942;
$neutral: #f5c451;
$bad: #ce5347;
$awful: #780000;

.excellent {
  color: $excellent;
}

.good {
  color: $good;
}

.neutral {
  color: $neutral;
}

.bad {
  color: $bad;
}

.awful {
  color: $awful;
}
