.card {
  border: 1px solid #a8a8a8;
  border-radius: 5px; }

.card-content-container {
  display: flex;
  margin: 0 5px; }

.card-subtitle {
  flex: 25%;
  text-align: center;
  margin-top: 5px;
  font-size: 15px;
  color: #888888; }

.card-content {
  flex: 75%;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 10px; }
