.results-container {
  height: 100%;
  margin: 10px 0; }

.filter-container {
  height: 7.5%;
  display: flex;
  justify-content: space-around;
  padding-top: 5px;
  padding-bottom: 5px; }

.results {
  overflow: hidden;
  overflow-y: auto;
  height: calc(100% - 7.5% - 10px); }
  .results p#no-cases {
    font-size: 12px;
    color: #888888;
    padding: 20px;
    font-weight: bold;
    text-align: center;
    width: auto; }

.results::-webkit-scrollbar {
  width: 5px; }
